$colors: rgb(248, 248, 248), rgb(238, 238, 238), rgb(250, 250, 250), rgb(207, 207, 207), rgb(245, 245, 245), rgb(212, 212, 212);

body, html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat';
}
.header {
    display: grid;
    background-color: #333;
    overflow: hidden;
    justify-content: center;
    position: fixed;
    top: 0px;
    width: 100%;
  }
  
  .header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
h1 {
    margin: 5rem;
}
.grid4{
    grid-column-start: 4;
    grid-row: 1/ span 2;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;

    .card {
        transition: transform 1s;
        
        @for $i from 1 through 6 {
            &:nth-of-type(#{$i}) {
                background: nth($colors, $i);
            }  
        }

        &:hover {
            transform: translateY(-10px);
        } 

        .info {
            padding: 1rem;
            //display: none;
        }
    
        img {
            width: 100%;
            height: 250px;
        }

        .desc {
            color: gray;
        }
    }
}
@media screen and (max-width: 600px) {
    
  }